* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #000000;
    font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

h1 {
    font-size: 1.8rem;
}

div.header {
    position: absolute;
    top: 0%;
    width: 100%;
    min-width: 1100px;
    border-bottom: 0.1px solid #888;
    background-color: #000000;
    z-index: 5;
}

div.head-container {
    width: 1100px;
    margin: 0 auto;
}

div.sub-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #888;
    font-size: 0.82rem;
    margin-top: 15px;
}

div.sub-link a:hover {
    text-decoration: underline;
}

div.left-link a {
    margin-right: 1rem;
}

div.right-link a {
    margin-left: 1rem;
}

div.main-link {
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


div.main-link a {
    font-size: 1.1rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 36px;
    padding-bottom: 5px;
}

div.main-left-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.main-left-link a {
    margin-left: 50px;
}

div.main-right-link a {
    margin-right: 50px;
}

div.main-right-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a.main-logo {
    margin: auto auto;
    display: block;
    margin-top: -10px;
    width: 140px;
    height: 47px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo-white_new2.png);

}

span.icon-left-box {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
}

span.icon-right-box {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

span.icon-right-box a {
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 0px;
    background-position: center;
    background-repeat: no-repeat;
}

span.icon-left-box a {
    display: block;
    width: 36px;
    height: 36px;
    margin-left: 0px;
    background-position: center;
    background-repeat: no-repeat;
}

a.header-menu-icon {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-sitemap-white.png);
}

a.header-search-icon {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png);
}

a.header-calender-icon {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule-white.png);
}

a.header-my-box-icon {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-mymega-white.png);
}

div.main {
    width: 100%;
    min-width: 1100px;
}

div.main-image {
    position: absolute;
    width: 100%;
    min-width: 1100px;
    height: 900px;
    background-repeat: no-repeat;
    background-image: url(https://img.megabox.co.kr/SharedImg/2022/05/12/L3TMSlaj2iGY7RcGytRyVuWMs7V8oCwW_380.jpg);
    filter: brightness(20%);
    background-size: cover;
}

div.main-bg {
    position: relative;
    min-width: 1100px;
    height: 900px;
    background: url(https://www.megabox.co.kr/static/pc/images/movie/bg-movie-detail-pattern.png) repeat 0 0;
    z-index: 2;
}

div.main-container {
    width: 1100px;
    margin: 0 auto;
}

div.main-top {
    display: flex;
    flex-direction: row;
    padding-top: 170px;
    width: 100%;
    margin-bottom: 25px;
}

div.main-top button {
    display: block;
    padding: 0;
    padding-bottom: 7px;
    margin-left: 520px;
    font-size: 0.9rem;
    border: 0;
    border-bottom: 1px solid #888;
    color: #ffffff;
    background-color: transparent;
}

div.main-top button:hover {
    cursor: pointer;
}

span.more-movie {
    margin-left: 400px;
    color: #fff;
    font-size: 0.95rem;
}

div.main-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.movie-box img {
    position: relative;
    width: 245px;
    height: 352px;
    border-radius: 5px 5px 5px 5px;
    z-index: 2;
    margin-bottom: 7px;
}

div.movie-box img:hover {
    opacity: 0.2;
}

div.movie-box img:hover+div {
    opacity: 0.2;
}

div.movie-rank {
    padding: 10px;
    position: absolute;
    width: 245px;
    top: 0%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #000000;
    font-weight: 200;
    color: #fff;
    font-style: italic;
    z-index: 2;
}

span.main-icon-box {
    background-color: #000000;
    opacity: 60%;
    width: 35px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
}

div.movie-rank img {
    display: block;
    margin: auto auto;
    margin-top: 8px;
    width: 18px;
    height: 18px;
}

div.movie-info {
    padding: 25px;
    position: absolute;
    line-height: 20px;
    top: 0;
    width: 245px;
    font-size: 0.9rem;
    height: 152px;
    color: #ffffff;
    background-color: #000000;
    white-space: pre-wrap;
}

div.movie-info-content {
    height: 142px;
    overflow: hidden;
}

div.movie-score-box {
    display: flex;
    margin: auto auto;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    border-top: 0.2px solid #888;
    margin-top: 130px;
}

span.movie-score-title {
    display: block;
    margin-left: 50px;
    margin-right: 10px;
    font-size: 0.85rem;
}

span.movie-score-score {
    font-size: 1.7rem;
    color: #5da8d4;
}

div.movie-button-box {
    display: flex;
    flex-direction: row;
}


button.like-btn {
    width: 70px;
    height: 40px;
    margin-right: 5px;
    border: 0.2px solid #888;
    background-color: #000000;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 5px 5px 5px 5px;
}

button.like-btn:hover {
    cursor: pointer;
}

button.book-btn {
    width: 170px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 5px 5px 5px 5px;
    background-color: #0d7fa1;
    text-align: center;
}

button.book-btn:hover {
    cursor: pointer;
}

div.main-sub-bar {
    margin-top: 50px;
}

div.main-sub-bar-item {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-between;
}

div.main-sub-bar-search {
    width: 250px;
    display: flex;
    flex-direction: row;
}

div.main-sub-bar-search input {
    margin-left: 25px;
    width: 190px;
    outline: none;
    border: none;
    color: #fff;
    border-bottom: 0.5px solid #888;
    background-color: transparent;
}

div.main-sub-bar-search button {
    margin-left: -20px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png);
    background-repeat: no-repeat;
    width: 20px;
    border: none;
    background-color: transparent;
}

div.main-sub-bar-item a {
    border-left: 0.1px solid #888;
    width: 250px;
    height: 20px;
    display: flex;
    margin: auto auto;
    flex-direction: row;
}

div.main-sub-bar-icon {
    width: 25px;
    height: 25px;
    margin: auto auto;
    margin-left: 80px;
    margin-right: 5px;
}

div.main-sub-bar-icon {
    width: 25px;
    height: 25px;
}

div.main-sub-bar-title {
    margin: auto auto;
    margin-left: 5px;
    margin-top: 3px;
    color: #fff;
}

div.main-mouse-icon {
    margin-top: 40px;
}

div.main-mouse-icon img {
    display: block;
    margin: auto auto;
    animation: move_img 2s linear infinite;
}

div.session1 {
    position: relative;
    background-color: #fff;
}

div.session1-container {
    width: 1100px;
    margin: 0 auto;
}

div.benefit-slide {
    width: 60%;
}

div.benefit-box {
    display: flex;
    height: 325px;
    flex-direction: row;
}

div.benefit-title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span.more-benefit img {
    margin-top: 2rem;
}

div.slide-item {
    display: flex;
    flex-direction: row;
}

div.slide-bar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

div.slide-page-bar {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 2px;
    margin: auto 0;
}

span.slide-page-bar-item {
    display: block;
    width: 12.5%;
    height: 100%;
    background-color: rgb(190, 188, 188);
}

span.slide-page-bar-item-on {
    display: block;
    width: 12.5%;
    height: 100%;
    background-color: rgb(83, 100, 153);
}

div.slide-btn-box {
    margin: auto 0;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

#slide-prev {
    display: block;
    margin-top: 4px;
    width: 10px;
    height: 20px;
    background-color: transparent;
    border: none;
    background-image: url('https://www.megabox.co.kr/static/pc/images/main/btn-benefit-slider-prev.png');
    background-repeat: no-repeat;
}

#slide-prev-off {
    display: block;
    margin-top: 4px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: none;
    background-image: url('https://www.megabox.co.kr/static/pc/images/main/btn-benefit-slider-prev.png');
    background-repeat: no-repeat;
    filter: opacity(0.4) drop-shadow(0 0 0 #0000);
}

#slide-next {
    width: 10px;
    height: 20px;
    margin-top: 4px;
    background-color: transparent;
    border: none;
    background-image: url('https://www.megabox.co.kr/static/pc/images/main/btn-benefit-slider-next.png');
    background-repeat: no-repeat;
}

#slide-next-off {
    display: block;
    margin-top: 4px;
    width: 10px;
    height: 20px;
    background-color: transparent;
    border: none;
    background-image: url('https://www.megabox.co.kr/static/pc/images/main/btn-benefit-slider-next.png');
    background-repeat: no-repeat;
    filter: opacity(0.4) drop-shadow(0 0 0 #0000);
}

#slide-move {
    width: 10px;
    height: 20px;
    margin-top: 4px;
    background-color: transparent;
    border: none;
    background-image: url('https://www.megabox.co.kr/static/pc/images/main/btn-benefit-slider-pause.png');
    background-repeat: no-repeat;
}

#slide-stop {
    width: 10px;
    height: 20px;
    margin-top: 4px;
    background-color: transparent;
    border: none;
    background-image: url(' https://www.megabox.co.kr/static/pc/images/main/btn-benefit-slider-play.png');
    background-repeat: no-repeat;
}

div.benefit-box2 {
    display: flex;
    flex-direction: row;
    width: 60%;
    position: relative;
    z-index: 2;
}

a.benefit-big-img-a {
    width: 40%;
    z-index: 2;
}

img.beneift-big-img {
    width: 100%;
    height: 520px;
    border-radius: 5px 5px 5px 5px;
}

div.benefit-box2 a {
    display: block;
}

a.benefit-img-a {
    display: block;
    width: 65%;
}

img.benefit-img {
    width: 100%;
    box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
    border-radius: 5px 5px 5px 5px;
    float: left;
}

img.benefit-img2 {
    width: 100%;
    float: left;
    box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
    border-radius: 5px 5px 5px 5px;
}

a.benefit-img-a2 {
    margin: 0 auto;
    width: 30%;
}

div.benefit-menu {
    margin-top: 5rem;
    padding-bottom: 6rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 2;
    color: #fff;
}

div.benefit-menu-item img {
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
}

div.session1-bg2 {
    position: absolute;
    bottom: 0%;
    width: 100%;
    min-width: 1100px;
    height: 320px;
    background-color: #6a29c0;
}

div.session2 {
    width: 100%;
    min-width: 1100px;
    position: relative;
    background-color: #12116b;
}

div.session2-container {
    width: 1100px;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 150px;
}

div.curation-title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span.more-curation {
    font-weight: 100;
    padding-top: 50px;
}

span.more-curation a span {
    margin-right: 5px;
}

span.more-curation a img {
    margin: auto 0;
    filter: opacity(0.5) drop-shadow(0 0 0 #fff);
}

div.curation-title-box h1 {
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 20px;
}

div.curation-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.curation-left-box {
    width: 30%;
    position: relative;
    padding: 20px;
}

div.curation-left-box a img {
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}

div.cur-mark1 img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

div.curation-btn {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#more-info-btn {
    font-size: 1.2rem;
    color: #fff;
    width: 48%;
    height: 50px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #fff;
    background-color: transparent;
}

#cur-book-btn {
    font-size: 1.2rem;
    color: #fff;
    width: 49%;
    height: 50px;
    margin-left: 2px;
    border-radius: 3px 3px 3px 3px;
    border: none;
    background-color: rgb(20, 130, 173)
}

div.curation-right-box {
    padding-top: 15px;
    width: 67%;
}

div.cur-sub-title {
    font-size: 1.2rem;
}

div.cur-main-title {
    font-size: 2.3rem;
    padding-bottom: 30px;
    border-bottom: 0.1px solid #888;
}

div.cur-info {
    line-height: 1.5rem;
    font-size: 0.85rem;
}

div.cur-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.cur-list-item {
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
}

div.cur-list-item img {
    border-radius: 5px 5px 5px 5px;
}

div.cur-mark2 img {
    display: block;
    position: absolute;

    top: 0%;
    left: 0%;
}

div.cur-list-item-title {
    width: 163px;
    padding-top: 5px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

}

div.session3 {
    width: 100%;
    min-width: 1100px;
    position: relative;
    background-color: #ffffff;
}

div.session3-container {
    width: 1100px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    padding-bottom: 40px;
}

div.guide-title-box h1 {
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 40px;
}

div.guide-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.guide-box a {
    position: relative;
    width: 170px;
    height: 170px;
    overflow-y: hidden;
    object-fit: scale-down;
    border-radius: 10px 10px 10px 10px;
}

div.guide-box a:hover :first-child {
    margin-top: -170px;
}

div.guide-box a img {
    width: 170px;
}

div.guide-box-new {
    position: absolute;
    background-color: #6caab6;
    top: 5%;
    right: 5%;
    z-index: 2;
    color: #fff;
    width: 50px;
    height: 20px;
    line-height: 20px;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 100;
    border-radius: 5px 5px 5px 5px;
}

div.notice {
    width: 100%;
    min-width: 1100px;
    border-top: 0.5px solid #dbdbdb;
    border-bottom: 0.5px solid #dbdbdb;
    background-color: #ffffff;
}

div.notice-container {
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 70px;
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0 auto;
    color: rgb(0, 0, 0);

}

div.writer {
    margin: auto 0;
    height: 0.9rem;
    padding-right: 20px;
    border-right: 0.5px solid #dbdbdb;
}

div.notice-container a:hover {
    text-decoration: underline;
}

div.notice-container a {
    margin: auto 0;
    padding-left: 15px;
}

div.title span {
    color: #0f0aff;
}

div.date {
    margin: auto 0;
    margin-left: 500px;
    padding-right: 15px;
    border-right: 0.5px solid #dbdbdb;
}

div.notice-more a {
    border: none;
}

div.notice-more img {
    margin-left: 10px;
}

div.guide-menu-container {
    display: flex;
    flex-direction: row;
    width: 1100px;
    justify-content: space-around;
    font-weight: 400;
    font-size: 0.9rem;
    padding-top: 50px;
    padding-bottom: 80px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}

div.guide-menu-container a {
    width: 120px;
}

div.guide-menu-container a img {
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
}

div.guide-menu-container a div {
    text-align: center;
    margin: 0 auto;
}

footer {
    width: 100%;
    min-width: 1100px;
    background-color: #ffffff;
}

div.footer-container {
    width: 1100px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    padding-bottom: 40px;
}

div.footer-link-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.85rem;
    font-weight: 300;
}

div.footer-link-box a {
    margin-right: 12px;
}

div.search-theater {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.1px solid #888;
    padding: 5px 15px;
    border-radius: 15px 15px 15px 15px;
}

div.search-theater div {
    margin-left: 5px;
}

a.info {
    font-weight: 500;
}

div.footer-info {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

div.footer-text {
    margin-left: 20px;
    font-size: 0.85rem;
    font-weight: 350;
    ;
}

div.footer-icon-box a {
    margin-right: 5px;
}


@keyframes move_img {
    50% {
        transform: translateY(-15px);
    }
}